section {
  padding: 6rem 5rem;
}

.about {
  width: 100%;
  padding: 6rem 5rem;
  background-color: $secondary-color;
}

.course {
  &-container {
    padding: 6rem 0;
  }

  &__core,
  &__elective {
    h3 {
      font-size: 2rem;
      margin-left: 10rem;
    }

    &--subjects {
      width: 100%;
      @include flexeven;
      margin: 5rem 0;
    }

    &--subject {
      box-shadow: $box-shadow-short;
      padding: 2rem 5rem;
      font-size: 1.8rem;
    }
  }
}

.achievement {
  background-color: $secondary-color;

  &-container {
    @include flexeven;
  }

  &__item {
    img {
      width: 40rem;
      height: 60rem;
      object-fit: cover;
    }

    div {
      background-color: $color-white;
      font-size: 1.8rem;
      text-align: center;
      width: 40rem;
      padding: 1rem 2rem;
      margin: 3rem 0;
    }
  }
}

.faq {
  &-container {
    padding: 6rem 5rem;
  }

  &__question {
    width: 60%;
    color: $accent-color;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem 0;
    cursor: pointer;

    &__answer {
    }
  }

  &__line {
    width: 50%;
    height: 0.2rem;
    background-color: $color-grey-dark;
  }
}
